* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: fixed;
}

.header {
	width: 100%;
	height: 100px;
	background-color: rgb(18, 16, 43);
}
.header h1 {
	color: white;
	text-align: center;
	padding-top: 30px;
}

.gameArea {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.tower {
	height: 50%;
	margin-top: 10%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	position: relative;
}

.stick {
	width: 10px;
	height: 100%;
	background-color: #aaa;
	position: absolute;
}

.boxes {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.towerArea {
	min-width: 100px;
}

.gameClear {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 5em;
	font-weight: 700;
}
